@model Emerge.Models.Billing

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 600px; padding: 30px;">
        <form asp-action="Edit" method="post">
            <input asp-for="id" id="billingId" name="id" type="hidden" />

            <div class="form-group">
                <label asp-for="duration" class="control-label">Duration</label>
                <input asp-for="duration" id="Duration1" name="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="durationType" class="control-label">Duration Type</label>
                <input asp-for="durationType" id="DurationType1" name="durationType" class="form-control" />
                <span asp-validation-for="durationType" class="text-danger"></span>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" style="font-size: 12px; padding: 5px 10px;" class="btn btn-primary">Update</button>
                <button type="button" style="font-size: 12px; padding: 5px 10px;" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>



<script>
    // JavaScript function to handle the "Edit" link click
    $(document).ready(function () {
        $('a[data-toggle="modal"]').on('click', function () {
            var id = $(this).data('id'); // Get the value of data-id attribute
            $('#billingId').val(id);          
            $('#Duration1').val($(this).data('duration'));
            $('#DurationType1').val($(this).data('durationtype'));
           
            
          
               
        });
    });
</script>
